<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="css/login.css">
</head>
<body>
  <div class="container">
    <h2>Sign-in to Cliqly </h2>
    <p class="login-text">
      Welcome to Cliqly, where seamless customer engagement meets smart organization. Our powerful CRM and campaign management tools, combined with a user-friendly interface, empower you to manage customer relationships, track requests, create targeted audience segments, launch personalized campaigns, and drive exceptional customer satisfaction. 🚀
    </p>
    <div class="button-group">
      <a href="/auth/google" class="google-button">Sign in with Google</a>
    </div>
    <p class="login-text">By continuing, you acknowledge that you have read and understood, and agree to <strong style="color:#C084FC">Terms & Conditions</strong> and <strong style="color:#C084FC">Privacy Policy</strong>.</p>
  </div>
  
</body>
</html>

